* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0b0425;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}

.calculator-container {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  padding: 1.5rem;
}

.grafico-container {
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  display: none;
}

.grafico-container canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;

}

.calculator-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.calculator-header h1 {
  font-size: 1.6rem;
  color: #333;
}

.mode-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.mode-buttons button {
  flex: 1;
  min-width: 100px;
  padding: 0.6rem;
  border: none;
  border-radius: 8px;
  background-color: #e0e7ff;
  color: #1e40af;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.mode-buttons button.active,
.mode-buttons button:hover {
  background-color: #4338ca;
  color: white;
}

.input-section {
  margin-bottom: 1rem;
}

.input-section label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.input-section input {
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.button-teclas {
  width: 8vw;
  height: 7vh;
  border-radius: 12px;
  background-color: rgb(45, 118, 255);
  border: white;
  box-shadow: #b3b3b3 2px 2px 2px;
  margin: 4px;
}

.teclas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

#tecla-1 {
  color: white;
}

.result-section {
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #f9fafb;
  border-radius: 8px;
  border: 1px solid #ddd;
  min-height: 50px;
}

.result-section p {
  color: #111827;
  font-size: 1.1rem;
}


@media (max-width: 675px) {
  .calculator-container {
    padding: 1rem;
  }

  .calculator-header h1 {
    font-size: 1.4rem;
  }

  .mode-buttons {
    flex-direction: column;
  }

  .mode-buttons button {
    width: 100%;
  }

  .input-section input {
    font-size: 0.95rem;
  }

  .result-section p {
    font-size: 1rem;
  }

  .button-teclas {
    width: 70px;
    height: 50px;
    border-radius: 6px;
    background-color: rgb(45, 118, 255);
    border: white;
    box-shadow: #b3b3b3 2px 2px 2px;
    margin: 4px;
  }
}
